<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Verifica Rails Example</title>
    <meta name="description" content="Ruby on Rails demo application to see Verifica authorization gem in action" />
    <link rel="canonical" href="https://verifica-rails-example.maximgurin.com" />

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
